* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}





.app-wrapper {
  background-image: url(../images/47500.jpg);
  // background-image: url(../images/marmur.jpg);
  background-size:contain ;
  height: 100%;
  width: 100%;
}
